logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID


dump.rdb
target
project/*
.idea
!project/MyDependencies.scala
!project/build.properties
.gradle/
gradle/
.g8/
gradlew*
